doctype html
html
    head
        style(type="text/css")
            include ./css/page.css
    body.b-page
        .b-page__content
            .b-look__row
                block banner_01
                block banner_01
                block banner_01