extends ../../base.pug

block banner_01
    style(type="text/css")
        include ../css/index.css

    a.b-look(href="#")
        .b-look__image-wrapper
            img.b-look__image(src="//lp.a.lamoda.team/static/GIT_TAG/SiS/topshop/static/image-03.jpg")
        h2.b-look__title Look block title
        .b-look__description Look block description text example